# Data Cleaning

The collected data must be cleaned so that it can become usable by machine learning models. In this sense, below I will be cleaning and converting the columns to the appropriate dtypes.

### Table of Contents

1. [üßº Loading data and taking the first look](#1---üßº-Loading-data-and-taking-the-first-look)
2. [üñ•Ô∏è Converting characteristic columns to binary type](#2---üñ•Ô∏è-Converting-characteristic-columns-to-binary-type)
3. [üî¢ Cleaning the numeric columns](#3---üî¢-Cleaning-the-numeric-columns)
4. [üóëÔ∏è Deleting irrelevant columns for prediction](#4---üóëÔ∏è-Deleting-irrelevant-columns-for-prediction)
5. [üåê Obtaining the latitude and longitude of the apartments from the address](#5---üåê-Obtaining-the-latitude-and-longitude-of-the-apartments-from-the-address)
6. [üíæ Taking a final look at the data and saving it](#6---üíæ-Taking-a-final-look-at-the-data-and-saving-it)

---

## 1 - üßº Loading data and taking the first look

In [1]:
import pandas as pd
import numpy as np

# path to data csv
path_to_data_csv = "C:/Users/cego/OneDrive/√Årea de Trabalho/MESTRADO/Projeto, apartment prices v2/data/data.csv"

data = pd.read_csv(path_to_data_csv, sep="|")
print(f"Total rows: {len(data)}")
data.head(5)

Total rows: 9839

C:\Users\cego\AppData\Local\Temp\ipykernel_21568\3702992975.py:7: DtypeWarning: Columns (78) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path_to_data_csv, sep="|")

,id,tag_card,business_type,price,condo_fee,iptu,address,floorSize,numberOfRooms,numberOfBathroomsTotal,...,privatePool,backyard,grass,largeWindow,naturalVentilation,cooker,hikingTrail,panoramicView,massage,freezer
0,62750619205425081544300816117885861273,Destaque,Venda,R$ 949.900,R$ 790,R$ 1.900/ano,"Rua C238, 100 - Jardim Am√©rica, Goi√¢nia - GO",130 m¬≤,3 quartos,4 banheiros,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,302678336848826931249389939487192177877,Em constru√ß√£o,A partir de,R$ 760.000,NaN,NaN,"Rua T 30, S/N - Setor Bueno, Goi√¢nia - GO",80 - 100 m¬≤,2 - 3 quartos,2 - 3 banheiros,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,130359292211767838527233708900928593543,NaN,Venda,R$ 350.000,R$ 270,R$ 250/ano,"Avenida Marialva, 435 - Vila Rosa, Goi√¢nia - GO",57 m¬≤,2 quartos,1 banheiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,191007733490619722070589252030900058169,Destaque,Venda,R$ 523.000,R$ 500,R$ 800/ano,"Rua VV 5, 1 - Residencial Eldorado, Goi√¢nia - GO",74 m¬≤,3 quartos,3 banheiros,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200978065182550317495009592604134775241,Destaque,Venda,R$ 624.700,R$ 500,R$ 900/ano,"Avenida Dona Maria Cardoso, 735 - Parque Amaz√¥...",72 m¬≤,2 quartos,1 banheiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are more than 9000 rows, and the columns that were supposed to have numeric values ‚Äã‚Äãare "dirty" with strings. We're going to have to clean all this up! Let's take a look at total columns too...

In [2]:
list(data.columns)

['id',
 'tag_card',
 'business_type',
 'price',
 'condo_fee',
 'iptu',
 'address',
 'floorSize',
 'numberOfRooms',
 'numberOfBathroomsTotal',
 'numberOfParkingSpaces',
 'floorLevel',
 'pool',
 'elevator',
 'barbecueGrill',
 'gatedCommunity',
 'gym',
 'gourmetSpace',
 'garden',
 'playground',
 'partyHall',
 'laundry',
 'disabledAccess',
 'coworking',
 'electronicGate',
 'sauna',
 'spa',
 'complete_description',
 'petsAllowed',
 'airConditioning',
 'gourmetBalcony',
 'sportsCourt',
 'bicyclesPlace',
 'concierge24h',
 'americanKitchen',
 'balcony',
 'intercom',
 'serviceArea',
 'largeKitchen',
 'furnished',
 'kitchen',
 'adultGameRoom',
 'deposit',
 'watchman',
 'security24Hours',
 'bedroomWardrobe',
 'internetAccess',
 'closet',
 'gourmetKitchen',
 'electricGenerator',
 'alarmSystem',
 'toysPlace',
 'cinema',
 'heating',
 'builtinWardrobe',
 'kitchenCabinets',
 'safetyCircuit',
 'garage',
 'tennisCourt',
 'greenSpace',
 'squash',
 'fireplace',
 'homeOffice',
 'bathroomCabinets',
 'gasShower',
 'blindexBox',
 'reception',
 'cableTv',
 'bathtub',
 'privatePool',
 'backyard',
 'grass',
 'largeWindow',
 'naturalVentilation',
 'cooker',
 'hikingTrail',
 'panoramicView',
 'massage',
 'freezer']

---

## 2 - üñ•Ô∏è Converting characteristic columns to binary type

If we look at the `data.head()` above, we see that some columns are binary, in the sense that they are saying whether a certain characteristic belongs to the apartment or not. I'll add a `"Cat_"` prefix to them:

In [3]:
data.columns = list(data.columns[:12]) + ["Cat_" + col  if col != "complete_description" else col for col in list(data.columns[12:])]
list(data.columns)

['id',
 'tag_card',
 'business_type',
 'price',
 'condo_fee',
 'iptu',
 'address',
 'floorSize',
 'numberOfRooms',
 'numberOfBathroomsTotal',
 'numberOfParkingSpaces',
 'floorLevel',
 'Cat_pool',
 'Cat_elevator',
 'Cat_barbecueGrill',
 'Cat_gatedCommunity',
 'Cat_gym',
 'Cat_gourmetSpace',
 'Cat_garden',
 'Cat_playground',
 'Cat_partyHall',
 'Cat_laundry',
 'Cat_disabledAccess',
 'Cat_coworking',
 'Cat_electronicGate',
 'Cat_sauna',
 'Cat_spa',
 'complete_description',
 'Cat_petsAllowed',
 'Cat_airConditioning',
 'Cat_gourmetBalcony',
 'Cat_sportsCourt',
 'Cat_bicyclesPlace',
 'Cat_concierge24h',
 'Cat_americanKitchen',
 'Cat_balcony',
 'Cat_intercom',
 'Cat_serviceArea',
 'Cat_largeKitchen',
 'Cat_furnished',
 'Cat_kitchen',
 'Cat_adultGameRoom',
 'Cat_deposit',
 'Cat_watchman',
 'Cat_security24Hours',
 'Cat_bedroomWardrobe',
 'Cat_internetAccess',
 'Cat_closet',
 'Cat_gourmetKitchen',
 'Cat_electricGenerator',
 'Cat_alarmSystem',
 'Cat_toysPlace',
 'Cat_cinema',
 'Cat_heating',
 'Cat_builtinWardrobe',
 'Cat_kitchenCabinets',
 'Cat_safetyCircuit',
 'Cat_garage',
 'Cat_tennisCourt',
 'Cat_greenSpace',
 'Cat_squash',
 'Cat_fireplace',
 'Cat_homeOffice',
 'Cat_bathroomCabinets',
 'Cat_gasShower',
 'Cat_blindexBox',
 'Cat_reception',
 'Cat_cableTv',
 'Cat_bathtub',
 'Cat_privatePool',
 'Cat_backyard',
 'Cat_grass',
 'Cat_largeWindow',
 'Cat_naturalVentilation',
 'Cat_cooker',
 'Cat_hikingTrail',
 'Cat_panoramicView',
 'Cat_massage',
 'Cat_freezer']

Much better! Now let's transform the columns to binary:

In [4]:
categorical_columns = [col for col in data.columns if "Cat_" in col]

data[categorical_columns] = data[categorical_columns].notna() + 0 # to force numerical output
data[categorical_columns].head(5)

,Cat_pool,Cat_elevator,Cat_barbecueGrill,Cat_gatedCommunity,Cat_gym,Cat_gourmetSpace,Cat_garden,Cat_playground,Cat_partyHall,Cat_laundry,...,Cat_privatePool,Cat_backyard,Cat_grass,Cat_largeWindow,Cat_naturalVentilation,Cat_cooker,Cat_hikingTrail,Cat_panoramicView,Cat_massage,Cat_freezer
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---

## 3 - üî¢ Cleaning the numeric columns

As already said, numeric columns are dirty with strings. So in this section they will be cleaned to include only numeric values.

### Price

- The price column displays `"R$"` and `"."` in the values that present the price of the apartments and `"Sob consulta"` ("On request") when the price is not available.

- The final value needs to be converted to float.

In [5]:
print(data["price"][0])
print(data["price"][data["price"].apply(lambda x: "R$" not in x)].unique())
print(f"Total rows without prices: {len(data['price'][data['price'].apply(lambda x: 'R$' not in x)])}")

R$ 949.900
['Sob consulta']
Total rows without prices: 6

In [6]:
data = data[data["price"].apply(lambda x: "R$" in x)].copy()
data["price"][data["price"].apply(lambda x: "R$" not in x)].unique()

array([], dtype=object)

In [7]:
data["price"] = pd.to_numeric(data["price"].str.replace("R$ ", "").str.replace(".", ""), downcast='float')
data["price"][:10]

0    949900.0
1    760000.0
2    350000.0
3    523000.0
4    624700.0
5    374813.0
6    700000.0
7    450000.0
8    420000.0
9    440000.0
Name: price, dtype: float32

### Condominium fee

- The `condo_fee` column displays `"R$"` and `"."` in the values that present the price of the condominium fee and `"n√£o informado"` ("Not informed") or simply `"nan"` when the value is not available.

- The final value needs to be converted to float.

In [8]:
data["condo_fee"] = data["condo_fee"].astype(str)
print(data["condo_fee"][0])
print(data["condo_fee"][data["condo_fee"].apply(lambda x: 'R$' not in x)].unique())
print(f"Total rows without condo fees: {len(data['condo_fee'][data['condo_fee'].apply(lambda x: 'R$' not in x)])}")

R$ 790
['nan' 'n√£o informado']
Total rows without condo fees: 2121

In [9]:
data.loc[data["condo_fee"].apply(lambda x: 'R$' not in x), "condo_fee"] = ""
print(data["condo_fee"][data["condo_fee"].apply(lambda x: 'R$' not in x)].unique())

['']

In [10]:
data["condo_fee"] = pd.to_numeric(data["condo_fee"].str.replace("R$ ", "").str.replace(".", ""), downcast='float')
data["condo_fee"][:10]

0    790.0
1      NaN
2    270.0
3    500.0
4    500.0
5      NaN
6    700.0
7    350.0
8      NaN
9    390.0
Name: condo_fee, dtype: float32

### IPTU (Urban Building and Land Tax)

- The `iptu` column displays `"R$"`, `"."` and `"/ano"` ("/year") in the values that present the iptu value and `"n√£o informado"` ("not informed") or simply `"nan"` when the value is not available.

- The final value needs to be converted to float.

In [11]:
data["iptu"] = data["iptu"].astype(str)
print(data["iptu"][0])
print(data["iptu"][data["iptu"].apply(lambda x: 'R$' not in x)].unique())
print(f"Total rows without iptu: {len(data['iptu'][data['iptu'].apply(lambda x: 'R$' not in x)])}")

R$ 1.900/ano
['nan' 'n√£o informado']
Total rows without iptu: 3953

In [12]:
data.loc[data["iptu"].apply(lambda x: 'R$' not in x), "iptu"] = ""
print(data["iptu"][data["iptu"].apply(lambda x: 'R$' not in x)].unique())

['']

In [13]:
data["iptu"] = pd.to_numeric(data["iptu"].str.replace("R$ ", "")\
                             .str.replace(".", "")\
                             .str.replace("/ano", ""), downcast='float')
data["iptu"][:10]

0    1900.0
1       NaN
2     250.0
3     800.0
4     900.0
5       NaN
6     900.0
7       NaN
8       NaN
9       NaN
Name: iptu, dtype: float32

### Floor size ($m^2$)

- The floorSize column displays "m¬≤" in the values that present the floor size of the apartment. There is no missing values for this column.

- The final value needs to be converted to float.

In [15]:
print(data["floorSize"][0])
print(data["floorSize"][data["floorSize"].apply(lambda x: 'm¬≤' not in x)].unique())
print(f"Total rows without floor size: {len(data['floorSize'][data['floorSize'].apply(lambda x: 'm¬≤' not in x)])}")

130 m¬≤
[]
Total rows without floor size: 0

In [16]:
def temp(x):
    x = x.replace(" m¬≤", "")
    if " - " not in x:
        return x
    else:
        x = x.split(" - ")
        x = [float(y) for y in x]
        return np.mean(x)

data["floorSize"] = pd.to_numeric(data["floorSize"].apply(temp), downcast='float')
data["floorSize"][:10]

0    130.0
1     90.0
2     57.0
3     74.0
4     72.0
5     61.0
6    100.0
7     58.0
8     69.0
9     77.0
Name: floorSize, dtype: float32

### Number of rooms

- The numberOfRooms column displays `"quarto"` ("room") or `"quartos"` ("rooms") in the values that present the number of rooms of the apartment. There is only 2 missing values for this column.

- The final value needs to be converted to float.

In [17]:
data["numberOfRooms"] = data["numberOfRooms"].astype(str)
print(data["numberOfRooms"][0])
print(data["numberOfRooms"][data["numberOfRooms"].apply(lambda x: ' quarto' not in x)].unique())
print(f"Total rows without number of rooms: {len(data['numberOfRooms'][data['numberOfRooms'].apply(lambda x: 'quarto' not in x)])}")

3 quartos
['nan']
Total rows without number of rooms: 2

In [18]:
data.loc[data["numberOfRooms"].apply(lambda x: ' quarto' not in x), "numberOfRooms"] = ""
print(data["numberOfRooms"][data["numberOfRooms"].apply(lambda x: ' quarto' not in x)].unique())

['']

In [19]:
def temp(x):
    x = x.replace(" quarto", "").replace("s", "")
    if " - " not in x:
        return x
    else:
        x = x.split(" - ")
        x = [float(y) for y in x]
        return np.mean(x)

data["numberOfRooms"] = pd.to_numeric(data["numberOfRooms"].apply(temp), downcast='float')
data["numberOfRooms"][:10]

0    3.0
1    2.5
2    2.0
3    3.0
4    2.0
5    2.0
6    3.0
7    2.0
8    2.5
9    3.0
Name: numberOfRooms, dtype: float32

### Number of bathrooms

- The numberOfBathroomsTotal column displays `"banheiro"` ("bathroom") or `"banheiros"` ("bathrooms") in the values that present the number of bathrooms of the apartment. There is only 2 missing values for this column.

- The final value needs to be converted to float.

In [20]:
data["numberOfBathroomsTotal"] = data["numberOfBathroomsTotal"].astype(str)
print(data["numberOfBathroomsTotal"][0])
print(data["numberOfBathroomsTotal"][data["numberOfBathroomsTotal"].apply(lambda x: ' banheiro' not in x)].unique())
print(f"Total rows without number of bathrooms: {len(data['numberOfBathroomsTotal'][data['numberOfBathroomsTotal'].apply(lambda x: 'banheiro' not in x)])}")

4 banheiros
['nan']
Total rows without number of bathrooms: 2

In [21]:
data.loc[data["numberOfBathroomsTotal"].apply(lambda x: ' banheiro' not in x), "numberOfBathroomsTotal"] = ""
print(data["numberOfBathroomsTotal"][data["numberOfBathroomsTotal"].apply(lambda x: ' banheiro' not in x)].unique())

['']

In [22]:
def temp(x):
    x = x.replace(" banheiro", "").replace("s", "")
    if " - " not in x:
        return x
    else:
        x = x.split(" - ")
        x = [float(y) for y in x]
        return np.mean(x)

data["numberOfBathroomsTotal"] = pd.to_numeric(data["numberOfBathroomsTotal"].apply(temp), downcast='float')
data["numberOfBathroomsTotal"][:10]

0    4.0
1    2.5
2    1.0
3    3.0
4    1.0
5    2.0
6    4.0
7    2.0
8    2.0
9    2.0
Name: numberOfBathroomsTotal, dtype: float32

### Number of parking spaces

- The numberOfParkingSpaces column displays `"vaga"` ("space") or `"vagas"` ("spaces") in the values that present the number of parking spaces of the apartment. There is 266 missing values for this column.

- The final value needs to be converted to float.

In [23]:
data["numberOfParkingSpaces"] = data["numberOfParkingSpaces"].astype(str)
print(data["numberOfParkingSpaces"][0])
print(data["numberOfParkingSpaces"][data["numberOfParkingSpaces"].apply(lambda x: ' vaga' not in x)].unique())
print(f"Total rows without number of parking spaces: {len(data['numberOfParkingSpaces'][data['numberOfParkingSpaces'].apply(lambda x: 'vaga' not in x)])}")

2 vagas
['nan']
Total rows without number of parking spaces: 266

In [24]:
data.loc[data["numberOfParkingSpaces"].apply(lambda x: ' vaga' not in x), "numberOfParkingSpaces"] = ""
print(data["numberOfParkingSpaces"][data["numberOfParkingSpaces"].apply(lambda x: ' vaga' not in x)].unique())

['']

In [25]:
def temp(x):
    x = x.replace(" vaga", "").replace("s", "")
    if " - " not in x:
        return x
    else:
        x = x.split(" - ")
        x = [float(y) for y in x]
        return np.mean(x)

data["numberOfParkingSpaces"] = pd.to_numeric(data["numberOfParkingSpaces"].apply(temp), downcast='float')
data["numberOfParkingSpaces"][:10]

0    2.0
1    1.5
2    1.0
3    1.0
4    1.0
5    1.0
6    2.0
7    1.0
8    1.5
9    1.0
Name: numberOfParkingSpaces, dtype: float32

### Floor level

- The floorLevel column displays `"andar"` ("level") in the values that present the floor level of the apartment. There is 5339 missing values for this column.

- The final value needs to be converted to float.

In [26]:
data["floorLevel"] = data["floorLevel"].astype(str)
print(data["floorLevel"].unique())
print(f"Total rows without floor level: {len(data['floorLevel'][data['floorLevel'].apply(lambda x: 'andar' not in x)])}")

['24 andar' 'nan' '19 andar' '1 andar' '8 andar' '7 andar' '5 andar'
 '2 andar' '16 andar' '34 andar' '14 andar' '36 andar' '20 andar'
 '15 andar' '11 andar' '10 andar' '6 andar' '18 andar' '32 andar'
 '23 andar' '26 andar' '17 andar' '4 andar' '22 andar' '3 andar'
 '27 andar' '21 andar' '25 andar' '9 andar' '13 andar' '12 andar'
 '46 andar' '48 andar' '41 andar' '31 andar' '38 andar' '29 andar'
 '28 andar' '30 andar' '42 andar' '49 andar' '45 andar' '43 andar'
 '44 andar' '33 andar' '47 andar' '40 andar' '35 andar' '50 andar'
 '39 andar' '37 andar' '100 andar' '104 andar' '102 andar' '89 andar']
Total rows without floor level: 5339

In [27]:
data.loc[data["floorLevel"].apply(lambda x: ' andar' not in x), "floorLevel"] = ""
print(data["floorLevel"][data["floorLevel"].apply(lambda x: ' andar' not in x)].unique())

['']

In [28]:
data["floorLevel"] = pd.to_numeric(data["floorLevel"].str.replace(" andar", ""), downcast='float')
data["floorLevel"][:10]

0    24.0
1     NaN
2    19.0
3     1.0
4     8.0
5     7.0
6     NaN
7     5.0
8     NaN
9     NaN
Name: floorLevel, dtype: float32

---

## 4 - üóëÔ∏è Deleting irrelevant columns for prediction

Columns that are irrelevant to the apartment price prediction problem will be excluded. Below I analyze the unique values of these columns, and then I delete them.

### Tag card

- The tag card column values are, in english: `['Highlighted', 'Under construction', nan, 'Ready to move in', 'Super Highlighted', 'In plan']`. There is no usefulness in this column in terms of apartment price prediction.

In [29]:
data["tag_card"].unique()

array(['Destaque', 'Em constru√ß√£o', nan, 'Pronto para morar',
       'Super Destaque', 'Na planta'], dtype=object)

In [30]:
data.drop(columns=["tag_card"], inplace=True)

### Business type

- The business type column tells if the apartment is directly for sale or if the price is above a certain value. I will not use this column for prediction also.

In [31]:
data["business_type"].unique()

array(['Venda', 'A partir de'], dtype=object)

In [32]:
data.drop(columns=["business_type"], inplace=True)

---

## 5 - üåê Obtaining the latitude and longitude of the apartments from the address

Addresses that do not belong to the city of Goi√¢nia will be excluded. Additionaly, the latitude and longitude of the apartments will be collected from the address of the apartments. For this purpose, the Bing Maps API will be used.

### Excluding addresses from other cities

In [33]:
data["address"][0]

'Rua C238, 100 - Jardim Am√©rica, Goi√¢nia - GO'

In [34]:
data["address"][data["address"].apply(lambda x: ", Goi√¢nia" not in x)]

3380        Rua Dois - Setor Oeste, Mineiros - GO
5611      Rua 9, 253 - Setor Oeste, An√°polis - GO
7713         Vila Rosa, Aparecida de Goi√¢nia - GO
8264               Setor Aeroporto, Mineiros - GO
9194      Rua 9, 253 - Setor Oeste, An√°polis - GO
9610    Rua 11, 116 - Setor Oeste, Goian√©sia - GO
Name: address, dtype: object

We can see that there is only 6 rows with address that are not from Goi√¢nia. We can simply drop these rows.

In [35]:
data = data[data["address"].apply(lambda x: ", Goi√¢nia" in x)].copy()
data["address"][data["address"].apply(lambda x: ", Goi√¢nia" not in x)]

Series([], Name: address, dtype: object)

### Bing Maps API

In [36]:
import requests

def get_lat_long(address):
    bing_api_key = YOUR_API_KEY_HERE
    url = f"http://dev.virtualearth.net/REST/v1/Locations?countryRegion=BR&adminDistrict=GO&addressLine={address}&key={bing_api_key}"
    try:
        r = requests.get(url=url)
        result = r.json()
        return result["resourceSets"][0]["resources"][0]["point"]["coordinates"]
    except:
        return [np.nan, np.nan]

lat = []
long = []
for address in data["address"]:
    coordinates = get_lat_long(address)
    lat.append(coordinates[0])
    long.append(coordinates[1])
    
data["lat"] = lat
data["long"] = long

In [37]:
data[["address", "lat", "long"]].head(10)

                                             address        lat       long
0       Rua C238, 100 - Jardim Am√©rica, Goi√¢nia - GO -16.703623 -49.283848
1          Rua T 30, S/N - Setor Bueno, Goi√¢nia - GO -16.692724 -49.281982
2    Avenida Marialva, 435 - Vila Rosa, Goi√¢nia - GO -16.741176 -49.286743
3   Rua VV 5, 1 - Residencial Eldorado, Goi√¢nia - GO -17.907877 -51.745325
4  Avenida Dona Maria Cardoso, 735 - Parque Amaz√¥... -16.736175 -49.281285
5      Rua Dona Isoleta, 3 - Vila Rosa, Goi√¢nia - GO -16.744317 -49.294897
6          Rua T 27, 168 - Setor Bueno, Goi√¢nia - GO -16.688738 -49.278177
7   Rua Lucila Mazeto, 122 - Vila Rosa, Goi√¢nia - GO -16.740978 -49.293008
8         Rua 250, 321 - Setor Coimbra, Goi√¢nia - GO -16.681497 -49.281586
9      Rua Caapi, 13 - Parque Amaz√¥nia, Goi√¢nia - GO -16.733955 -49.271160

---

## 6 - üíæ Taking a final look at the data and saving it

In [38]:
len(data)

9827

In [39]:
data.to_csv("C:/Users/cego/OneDrive/√Årea de Trabalho/MESTRADO/Projeto, apartment prices v2/data_cleaning/data.csv",
            index=False,
            sep="|")

In [40]:
data.head()

,id,price,condo_fee,iptu,address,floorSize,numberOfRooms,numberOfBathroomsTotal,numberOfParkingSpaces,floorLevel,...,Cat_grass,Cat_largeWindow,Cat_naturalVentilation,Cat_cooker,Cat_hikingTrail,Cat_panoramicView,Cat_massage,Cat_freezer,lat,long
0,62750619205425081544300816117885861273,949900.0,790.0,1900.0,"Rua C238, 100 - Jardim Am√©rica, Goi√¢nia - GO",130.0,3.0,4.0,2.0,24.0,...,0,0,0,0,0,0,0,0,-16.703623,-49.283848
1,302678336848826931249389939487192177877,760000.0,NaN,NaN,"Rua T 30, S/N - Setor Bueno, Goi√¢nia - GO",90.0,2.5,2.5,1.5,NaN,...,0,0,0,0,0,0,0,0,-16.692724,-49.281982
2,130359292211767838527233708900928593543,350000.0,270.0,250.0,"Avenida Marialva, 435 - Vila Rosa, Goi√¢nia - GO",57.0,2.0,1.0,1.0,19.0,...,0,0,0,0,0,0,0,0,-16.741176,-49.286743
3,191007733490619722070589252030900058169,523000.0,500.0,800.0,"Rua VV 5, 1 - Residencial Eldorado, Goi√¢nia - GO",74.0,3.0,3.0,1.0,1.0,...,0,0,0,0,0,0,0,0,-17.907877,-51.745325
4,200978065182550317495009592604134775241,624700.0,500.0,900.0,"Avenida Dona Maria Cardoso, 735 - Parque Amaz√¥...",72.0,2.0,1.0,1.0,8.0,...,0,0,0,0,0,0,0,0,-16.736175,-49.281285